.hidden {
    /*display: none;*/
}

.fully-hidden {
    display: none !important;
}

.active {
    text-decoration: none;
}

.override-text {
    font-size: 1.75rem !important;
    margin-bottom: .5rem !important;
    font-weight: 700 !important;
    line-height: 1.2 !important;
}

.override-info {
    min-width: 300px !important;
}